[Unit]
Description=IronCrab Trading System Target
After=network-online.target nats.service
Wants=market-data.service position-manager.service momentum-bot.service arb-strategy.service execution-engine.service control-plane.service trades-server.service

[Install]
WantedBy=multi-user.target
