  GNU nano 8.4                                             /etc/systemd/system/agave-validator.service *
[Unit]
Description=Agave Validator (Non-Voting RPC) - Optimized for Arbitrage
After=network-online.target
Wants=network-online.target

[Service]
User=sol
Group=sol
WorkingDirectory=/home/sol


LimitNOFILE=1000000
LimitMEMLOCK=infinity
Restart=on-failure
RestartSec=5

Environment=RUST_BACKTRACE=1



ExecStart=/usr/local/bin/agave-validator \
  --identity /home/sol/validator-keypair.json \
  --ledger /var/solana/ledger \
  --limit-ledger-size 100000000 \
  --accounts /var/solana/accounts \
  --no-voting \
  --rpc-port 8899 \
  --rpc-bind-address 0.0.0.0 \
  --full-rpc-api \
  --rpc-threads 32 \
  --account-index program-id \
  --account-index spl-token-owner \
  --account-index spl-token-mint \
  --account-index-include-key 675kPX9MHTjS2zt1qfr1NYHuzeLXfQM9H24wFSUt1Mp8 \
  --account-index-include-key CPMMoo8L3F4NbTegBCKVNunggL7H1ZpdTHKxQB5qKP1C \
  --account-index-include-key whirLbMiicVdio4qvUfM5KAg6Ct8VwpYzGff3uctyCc \
  --account-index-include-key 6EF8rrecthR5Dkzon8Nwu78hRvfCKubJ14M5uBEwF6P \
  --account-index-include-key pAMMBay6oceH9fJKBRHGP5D4bD4sWpmSwMn52FMfXEA \
  --account-index-include-key LBUZKhRxPF3XUpBCjp4YzTKgLccjZhTSDM9YuVaPwxo \
  --accounts-db-cache-limit-mb 327680 \
  --accounts-index-scan-results-limit-mb 16384 \
  --enable-rpc-transaction-history \
  --dynamic-port-range 8000-8025 \
  --tpu-connection-pool-size 1024 \
  --geyser-plugin-config /home/sol/geyser-config.json \
  --no-port-check \
  --entrypoint entrypoint.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
  --entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
  --log /var/solana/validator.log


StandardOutput=journal
StandardError=journal
SyslogIdentifier=agave-validator

[Install]
WantedBy=multi-user.target


